<!DOCTYPE html>
<html>
<head>
	<title>{{ site.name }}</title>

	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width,initial-scale=1">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">

	<link rel="stylesheet" href="{{ site.url }}/css/bootstrap.min.css">
	<link rel="stylesheet" href="{{ site.url }}/css/main.css">
</head>
<body class="black">
	<div class="container">

		<!-- Heading at the top of the page -->
		<header class="page-header text-center">
			<div class="row page-top">
				<div class="col-sm-6 logo-box">
					<a href="{{ site.url }}"><img class="img-responsive" src="{{ site.url }}/img/swirltop-corner.png" alt="CoderDojo Melvindale logo"></a>
				</div>
				<nav class="col-sm-6 nav text-right">
					{% include nav.html %}
				</nav>
			</div>

			<!-- Divides the header from the rest of the content -->
			<div class="row black">
				<div class="col-sm-6 code-long">
					<img class="img-responsive" src="{{ site.url }}/img/code-long-409x230.png" alt="CoderDojo Melvindale logo">
				</div>
				<div class="col-sm-6">
					<h1>{{ site.name }}</h1>
					<p class="tagline">{{ site.tagline }}</p>
					<p class="sub-tagline">Learn code, create, and shape your own world</p>
				</div>
			</div>
		</header>

		<main>

			<div class="row">
				<div class="content col-sm-8">